#? ---- . ---- ---- ---- ---- . ----
#? NOTE:
#? - all ENV_***_HOST envs must encode pahts in the host
#? - all ENV_***_CNTR envs must encode pahts in the container
#? - all ENV_***_HOST paths should be relative to this dockerfile, unsless specyfied otherwise
#? - all ENV_***_CNTR paths must be absolute
#? - all ENV_***_HOSTNAME paths must be the same as service name defined in the docker-compose.yml file.
#? - ENV_***_HOST directory paths should never end with a slash "/"
#? - ENV_***_CNTR directory paths should never end with a slash "/"
#? ---- . ---- ---- ---- ---- . ----

#? ---- . ---- ---- ---- ---- . ----
#? APP:
#? ---- . ---- ---- ---- ---- . ----

# app's timezone:
ENV_APP_TIMEZONE="Europe/Warsaw"

# app's locale:
ENV_APP_LOCALE="pl_PL"

#? ---- . ---- ---- ---- ---- . ----
#? APP_ANALYSIS:
#? ---- . ---- ---- ---- ---- . ----

# app analysis's hostname:
ENV_APP_ANALYSIS_HOSTNAME="wslda-vortex-analysis"

# app analysis's timezone:
ENV_APP_ANALYSIS_TIMEZONE="${ENV_APP_TIMEZONE}"

# app analysis's locale:
ENV_APP_ANALYSIS_LOCALE="${ENV_APP_LOCALE}"

# app analysis's workdir:"
ENV_APP_ANALYSIS_WORKDIR_HOST="./projects/wslda-vortex-analysis"
ENV_APP_ANALYSIS_WORKDIR_CNTR="/workspace/app"

# app analysis's results-data-dir:"
ENV_APP_ANALYSIS_RESULTS_DATA_DIR_HOST="./results/data"
ENV_APP_ANALYSIS_RESULTS_DATA_DIR_CNTR="/workspace/results/data"

# app analysis's results-analysis-dir:"
ENV_APP_ANALYSIS_RESULTS_ANALYSIS_DIR_HOST="./results/analysis"
ENV_APP_ANALYSIS_RESULTS_ANALYSIS_DIR_CNTR="/workspace/results/analysis"
