#? ---- . ---- ---- ---- ---- . ----
#? NOTE:
#? - all ENV_***_HOST envs must encode pahts in the host
#? - all ENV_***_CNTR envs must encode pahts in the container
#? - all ENV_***_HOST paths should be relative to this dockerfile, unsless specyfied otherwise
#? - all ENV_***_CNTR paths must be absolute
#? - all ENV_***_HOSTNAME paths must be the same as service name defined in the docker-compose.yml file.
#? - ENV_***_HOST directory paths should never end with a slash "/"
#? - ENV_***_CNTR directory paths should never end with a slash "/"
#? ---- . ---- ---- ---- ---- . ----

#? ---- . ---- ---- ---- ---- . ----
#? APP:
#? ---- . ---- ---- ---- ---- . ----

# app's timezone:
ENV_APP_TIMEZONE="Europe/Warsaw"

# app's locale:
ENV_APP_LOCALE="pl_PL"

#? ---- . ---- ---- ---- ---- . ----
#? APP_ANALYSIS:
#? ---- . ---- ---- ---- ---- . ----

# app analysis's codename:
ENV_APP_ANALYSIS_CODENAME="wslda-vortex-analysis"

# app analysis dockerfilename:
ENV_APP_ANALYSIS_DOCKERFILE_NAME="dev-ubuntu-24.10"

# app analysis's timezone:
ENV_APP_ANALYSIS_TIMEZONE="${ENV_APP_TIMEZONE}"

# app analysis's locale:
ENV_APP_ANALYSIS_LOCALE="${ENV_APP_LOCALE}"

# app analysis's workdir:"
ENV_APP_ANALYSIS_WORKDIR_HOST="./projects/${ENV_APP_ANALYSIS_CODENAME}"
ENV_APP_ANALYSIS_WORKDIR_CNTR="/workspace/app"

# app analysis's cachedir:"
ENV_APP_ANALYSIS_CACHEDIR_HOST="./services/${ENV_APP_ANALYSIS_CODENAME}/.${ENV_APP_ANALYSIS_DOCKERFILE_NAME}/.cache"

# app analysis's cache-root:"
# - needed becasue of:
#   - /root/.bash_history
#   - /root/.vscode-server
ENV_APP_ANALYSIS_CACHE_ROOT_HOST="${ENV_APP_ANALYSIS_CACHEDIR_HOST}/root"
ENV_APP_ANALYSIS_CACHE_ROOT_CNTR="/root"

# app analysis's results_dir:"
ENV_APP_ANALYSIS_RESULTSDIR_HOST="./results"
ENV_APP_ANALYSIS_RESULTSDIR_CNTR="/workspace/results"